alembic==1.13.1
email_validator==2.1.1
Flask==3.0.2
flask_bcrypt==1.0.1
flask_login==0.6.3
flask_mailing==0.2.3
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
gunicorn==21.2.0
python-dotenv==1.0.1
Requests==2.31.0
secret==0.8
sentry_sdk==1.44.0
SQLAlchemy==2.0.29
WTForms==3.1.2
