<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ficker</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-manrope">
    <header
      class="bg-white h-16 flex items-center justify-between px-4 fixed top-0 w-full"
    >
      <a class="flex items-center" href="{{url_for('main.index')}}">
        <img class="mr-2" src="../static/assets/img/logo.svg" alt="logo" />
        <h1 class="text-2xl font-bold text-gray-800">Ficker</h1>
      </a>
      <div class="flex items-center">
        <div class="items-center justify-center mr-2">
          <img src="../static/assets/img/icons/icon-notificacao.svg" alt="" />
        </div>
        <div class="flex items-center">
          <p class="text-sm text-gray-800">{{user.nom_real}}</p>
        </div>
      </div>
    </header>

    <div class="sidebar bg-white w-64 h-screen fixed left-0 z-10">
      <ul class="mt-6">
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.home')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-inicio.svg"
              alt="logo"
            />
            Início
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.incomes')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-entradas.svg"
              alt="logo"
            />
            Entradas
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.expenses')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-saidas.svg"
              alt="logo"
            />
            Saídas
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.budgets')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-cofrinho.svg"
              alt="logo"
            />
            Cofrinho
          </a>
        </li>
        <li class="p-3 rounded-lg font-semibold bg-red-500">
          <a
            href="{{url_for('main.analyzes')}}"
            class="flex items-center text-white px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-analises-selected.svg"
              alt="logo"
            />
            Análises
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.profile')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-perfil.svg"
              alt="logo"
            />
            Meu Perfil
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('auth.logout')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-sair.svg"
              alt="icon-sair"
            />
            Sair
          </a>
        </li>
      </ul>
    </div>

    <main class="ml-64 mt-16">
      <div class="flex flex-row justify-between p-6">
        <h1 class="text-xl font-semibold mb-4">Análises</h1>
      </div>
      <div class="px-6">
        <div class="flex space-x-4 justify-between">
          <div class="bg-white bg-opacity-75 p-4 rounded-lg flex items-center">
            <div class="mr-2">
              <label class="block text-gray-400 mb-1 text-left text-sm"
                >Transações Totais</label
              >
              <span class="font-semibold text-xl text-gray-700">{{ total }}</span>
            </div>
            <div class="chart ml-auto rounded-full h-16 w-16">
              <canvas id="grafico-transacoes-totais"></canvas>
            </div>
          </div>

          <div class="bg-white bg-opacity-75 p-4 rounded-lg flex items-center">
            <div class="mr-2">
              <label class="block text-gray-400 mb-1 text-left text-sm"
                >Transações de Entrada</label
              >
              <span class="font-semibold text-xl text-gray-700">{{ incomes }}</span>
            </div>
            <div class="chart ml-auto rounded-full h-16 w-16">
              <canvas id="grafico-transacoes-entradas"></canvas>
            </div>
          </div>

          <div class="bg-white bg-opacity-75 p-4 rounded-lg flex items-center">
            <div class="mr-2">
              <label class="block text-gray-400 mb-1 text-left text-sm"
                >Transações de Saída</label
              >
              <span class="font-semibold text-xl text-gray-700">{{ expenses }}</span>
            </div>
            <div class="chart ml-auto rounded-full h-16 w-16">
              <canvas id="grafico-transacoes-saidas"></canvas>
            </div>
          </div>

          <div class="bg-white bg-opacity-75 p-4 rounded-lg flex items-center">
            <div class="mr-2">
              <label class="block text-gray-400 mb-1 text-left text-sm"
                >Transações no Cofrinho</label
              >
              <span class="font-semibold text-xl text-gray-700">{{ budgets }}</span>
            </div>
            <div class="chart ml-auto rounded-full h-16 w-16">
              <canvas id="grafico-transacoes-cofrinho"></canvas>
            </div>
          </div>
        </div>
        <div class="mt-4 w-full flex">
          <div
            class="bg-white bg-opacity-75 p-4 rounded-lg flex items-center w-2/3"
          >
            <div class="w-full">
              <h3 class="text-md font-semibold mb-4">Movimentações por mês</h3>
              <canvas id="chart"></canvas>
            </div>
          </div>
          <div class="bg-white bg-opacity-75 p-4 rounded-lg ml-6 w-1/3">
            <h3 class="text-md font-semibold mb-4">Transações Mais Recentes</h3>
            <ul class="space-y-2">
              {% for transacao in most_recents%}
              <li class="px-2 rounded-lg flex items-center">
                {% if transacao.type == 'Entrada' %}
                  <img class="mr-2" src="../static/assets/img/icons/icon-entradas.svg" alt="logo"/>
                {% elif transacao.type == 'Saída' %}
                  <img class="mr-2" src="../static/assets/img/icons/icon-saidas.svg" alt="logo"/>
                {% elif transacao.type == 'Cofrinho - Guardar' or transacao.type == 'Cofrinho - Resgatar' %}
                  <img class="mr-2" src="../static/assets/img/icons/icon-cofrinho.svg" alt="logo"/>

                {% endif %}
              
                <div class="ml-4">
                  {{ transacao.type }}
                  {% if transacao.type == 'Entrada' or transacao.type == 'Cofrinho - Guardar'%}
                    <p class="text-green-500 text-sm">R$ {{ transacao.value }}</p>
                  {% else %}
                    <p class="text-red-500 text-sm">R$ {{ transacao.value }}</p>
                  {% endif %}
                </div>
              </li>
              
              {% endfor %}
         
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        //grafico de linhas - movimentações por mes
        var ctx = document.getElementById("chart").getContext("2d");

        var data = {
          labels: [
            "Jan",
            "Fev",
            "Mar",
            "Abr",
            "Mai",
            "Jun",
            "Jul",
            "Ago",
            "Set",
            "Out",
            "Nov",
            "Dez",
          ],
          datasets: [
            {
              label: "Valor total das Entradas",
              data: [
                "{{ lista[0]['jan'] }}", 
                "{{ lista[0]['feb'] }}", 
                "{{ lista[0]['mar'] }}", 
                "{{ lista[0]['apr'] }}", 
                "{{ lista[0]['may'] }}", 
                "{{ lista[0]['jun'] }}", 
                "{{ lista[0]['jul'] }}", 
                "{{ lista[0]['aug'] }}", 
                "{{ lista[0]['sep'] }}", 
                "{{ lista[0]['oct'] }}", 
                "{{ lista[0]['nov'] }}", 
                "{{ lista[0]['dec'] }}",
              ],
              borderColor: "#17E3B9",
              borderWidth: 1,
              fill: false,
              cubicInterpolationMode: "monotone", // Linhas suaves
              pointStyle: "circle", // Círculos na legenda
              pointBackgroundColor: "#17E3B9"
            },
            {
              label: "Valor total das Saídas",
              data: ["{{ lista[0]['jan'] }}", 
                "{{ lista[1]['feb'] }}", 
                "{{ lista[1]['mar'] }}", 
                "{{ lista[1]['apr'] }}", 
                "{{ lista[1]['may'] }}", 
                "{{ lista[1]['jun'] }}", 
                "{{ lista[1]['jul'] }}", 
                "{{ lista[1]['aug'] }}", 
                "{{ lista[1]['sep'] }}", 
                "{{ lista[1]['oct'] }}", 
                "{{ lista[1]['nov'] }}", 
                "{{ lista[1]['dec'] }}",
              ],
              borderColor: "#D822E3",
              borderWidth: 1,
              fill: false,
              cubicInterpolationMode: "monotone", // Linhas suaves
              pointStyle: "circle", // Círculos na legenda
              pointBackgroundColor: "#D822E3"
            },
          ],
        };

        var options = {
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
              },
            },
            y: {
              beginAtZero: true,
              grid: {
                color: "rgba(0, 0, 0, 0.1)",
                drawBorder: false,
              },
            },
          },
          plugins: {
            legend: {
              labels: {
                usePointStyle: true, // Usar círculos na legenda
              },
            },
          },
        };

        new Chart(ctx, {
          type: "line",
          data: data,
          options: options,
        });

        // grafico de rosca - transacoes totais
        var ctx = document
          .getElementById("grafico-transacoes-totais")
          .getContext("2d");
        var data = {
          labels: ["Entradas", "Outras"],
          datasets: [
            {
              data: ["{{total}}", 0],
              backgroundColor: ["#E32D40", "#D1D5DB"],
              borderColor: "#ffffff",
              borderWidth: 0,
            },
          ],
        };
        var options = {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false, // Remover a legenda
            },
            title: {
              display: false, // Remover o título
            },
          },
        };
        new Chart(ctx, {
          type: "doughnut",
          data: data,
          options: options,
        });

        // grafico de rosca - transacoes entradas
        var ctx = document
          .getElementById("grafico-transacoes-entradas")
          .getContext("2d");

        var data = {
          labels: ["Entradas", "Outras"],
          datasets: [
            {
              data: ["{{ incomes }}", "{{ total }}" - "{{ incomes }}"],
              backgroundColor: ["#17E3B9", "#D1D5DB"],
              borderColor: "#ffffff",
              borderWidth: 0,
            },
          ],
        };
        var options = {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false, // Remover a legenda
            },
            title: {
              display: false, // Remover o título
            },
          },
        };
        new Chart(ctx, {
          type: "doughnut",
          data: data,
          options: options,
        });

        // grafico de rosca - transacoes saidas
        var ctx = document
          .getElementById("grafico-transacoes-saidas")
          .getContext("2d");
        var data = {
          labels: ["Entradas", "Outras"],
          datasets: [
            {
              data: ["{{ expenses }}", "{{ total }}" - "{{ expenses }}"],
              backgroundColor: ["#D822E3", "#D1D5DB"],
              borderColor: "#ffffff",
              borderWidth: 0,
            },
          ],
        };
        var options = {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false, // Remover a legenda
            },
            title: {
              display: false, // Remover o título
            },
          },
        };
        new Chart(ctx, {
          type: "doughnut",
          data: data,
          options: options,
        });

        // grafico de rosca - transacoes cofrinho
        var ctx = document
          .getElementById("grafico-transacoes-cofrinho")
          .getContext("2d");
        var data = {
          labels: ["Entradas", "Outras"],
          datasets: [
            {
              data: ["{{ budgets }}", "{{ total }}" - "{{ budgets }}"],
              backgroundColor: ["#87E344", "#D1D5DB"],
              borderColor: "#ffffff",
              borderWidth: 0,
            },
          ],
        };
        var options = {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false, // Remover a legenda
            },
            title: {
              display: false, // Remover o título
            },
          },
        };
        new Chart(ctx, {
          type: "doughnut",
          data: data,
          options: options,
        });
      });
    </script>
  </body>
</html>
