<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ficker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-manrope">
    <header class="bg-white h-16 flex items-center justify-between px-4">
      <a class="flex items-center" href="{{url_for('main.index')}}">
        <img class="mr-2" src="../static/assets/img/logo.svg" alt="logo" />
        <h1 class="text-2xl font-bold text-gray-800">Ficker</h1>
      </a>
      <div class="flex items-center">
        <div class="items-center justify-center mr-2">
          <img
            src="../static/assets/img/icons/icon-notificacao.svg"
            alt="icon-notificacao"
          />
        </div>
        <div class="flex items-center">
          <p class="text-sm text-gray-800 font-semibold">{{user.nom_real}}</p>
        </div>
      </div>
    </header>

    <div class="sidebar bg-white w-64 h-screen fixed left-0 z-10">
      <ul class="mt-6">
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.home')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-inicio.svg"
              alt="logo"
            />
            Início
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.incomes')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-entradas.svg"
              alt="logo"
            />
            Entradas
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.expenses')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-saidas.svg"
              alt="logo"
            />
            Saídas
          </a>
        </li>
        <li class="p-3 rounded-lg font-semibold bg-red-500">
          <a
            href="{{url_for('main.budgets')}}"
            class="flex items-center text-white px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-cofrinho-selected.svg"
              alt="logo"
            />
            Cofrinho
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.analyzes')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-analises.svg"
              alt="logo"
            />
            Análises
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.profile')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-perfil.svg"
              alt="logo"
            />
            Meu Perfil
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('auth.logout')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-sair.svg"
              alt="icon-sair"
            />
            Sair
          </a>
        </li>
      </ul>
    </div>

    <main class="ml-64">
      <div class="flex flex-row justify-between p-6">
        <h1 class="text-xl font-semibold mb-4">Cofrinho</h1>
        <div class="flex">
          <form class="flex mr-4">
            <input
              type="text"
              class="w-full border-gray-300 rounded-lg py-2 px-4"
              placeholder="Pesquisar..."
            />
          </form>
          <button id="open_add" class=" bg-red-500 hover:bg-red-600 text-white px-4 rounded-lg">
            Adicionar Nova
          </button>
        </div>
      </div>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
      {% endfor %}

      <div class="table w-full p-10">
        <div class="">
          <div
            class="flex flex-col md:flex-row items-center justify-center md:justify-between mb-2"
          >
            <div
              class="rounded-lg bg-gray-50 shadow-sm shadow-gray-300 p-3 mr-2 md:w-1/3"
            >
              Editar
            </div>
            <div
              class="rounded-lg bg-gray-50 shadow-sm shadow-gray-300 p-3 mr-2 md:w-1/3"
            >
              Objetivo
            </div>

            <div
              class="rounded-lg bg-gray-50 shadow-sm shadow-gray-300 p-3 mr-2 md:w-1/3"
            >
              Ação
            </div>

            <div
              class="rounded-lg bg-gray-50 shadow-sm shadow-gray-300 p-3 mr-2 md:w-1/3"
            >
              Data
            </div>

            <div
              class="rounded-lg bg-gray-50 shadow-sm shadow-gray-300 p-3 md:w-1/3"
            >
              Valor
            </div>
          </div>

          {% for transacao in user.transacoes_cofrinho_u %}
          <div class="flex flex-col md:flex-row items-center justify-center md:justify-between mb-1 text-gray-500">
            <div class="rounded-lg bg-white p-1 mr-2 md:w-1/5">
              <a class="open_edit open-edit-button rounded rounded-full w-full", data-income-id ="{{ transacao.id }}">
                <img src="../static/assets/img/icons/icon-editar.svg" alt="editar" class="mx-auto my-auto p-3 hover:bg-gray-100 rounded rounded-lg"/>
              </a>              
            </div>
            <div class="rounded-lg bg-white p-3 mr-2 md:w-1/5">
              <a href="">{{ transacao.objetivo.nom_objetivo }}</a>
            </div>
            <div class="rounded-lg bg-white p-3 mr-2 md:w-1/5">
              {{ transacao.tip_transacao }}
            </div>
            <div class="rounded-lg bg-white p-3 mr-2 md:w-1/5">
              {{ transacao.dat_transacao }}
            </div>
            <div class="rounded-lg bg-white p-3 md:w-1/5">
              {% if transacao.tip_transacao == 'Guardar' %}
                <p style="color:green;">R$ {{ transacao.val_cofrinho }}</p>
              {% else %}
                <p style="color:red;">R$ {{ transacao.val_cofrinho }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    <div
      id="form_add"
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    >
      <div class="bg-white rounded rounded-lg p-4 w-1/3">
        <h2 class="text-lg font-semibold mb-6">Nova Transação no Cofrinho</h2>
        <form action="{{ url_for('main.budgets') }}" method="POST">
          {{ form.csrf_token }}

          <div class="mb-4 w-1/2">
            
            <label class="block text-gray-700 mb-1 text-left" for="objetivo">
              Objetivo
            </label>
            <select
              class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline"
              id="objetivo"
            >
              <option disabled selected>Selecione</option>
              <option value="novo">Novo</option>
              {% for objetivo in user.objetivos_u %}
                    <option value="{{ objetivo.nom_objetivo }}">{{ objetivo.nom_objetivo }}</option>
                {% endfor %}
            </select>
          </div>

          <div id="novo_objetivo" class="mb-4 flex justify-between">
            <div class="w-3/4 mr-2">
              <label class="block text-gray-700 mb-1 text-left" for="descricao_objetivo">
                Descrição do Objetivo
              </label>
              {{form.description(
                type="text",
                class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
                id="descricao_objetivo"
              )}}
            </div>
            <div >
              <label
                class="block text-gray-700 mb-1 text-left"
                for="cor_objetivo"
              >
                Cor
              </label>
              {{form.color(
                type="color",
                class="appearance-none rounded h-12 w-full px-8 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
                id="cor_objetivo",
                value="#000000"
              )}}
            </div>
          </div>

          <div class="mb-4 w-1/2">
            <label class="block text-gray-700 mb-1 text-left" for="acao">
              Ação
            </label>
            <select
              class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline"
              id="acao"
              name="action"
            >
              <option selected>Guardar</option>
              <option value="nova">Resgatar</option>
            </select>
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 mb-1 text-left"
              for="data_transacao"
            >
              Data
            </label>
            {{form.date(
              type="date",
              class="appearance-none rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
              id="data_transacao"
              )}}
          </div>
          
          <div class="mb-4">
            <label class="block text-gray-700 mb-1 text-left" for="valor">
              Valor
            </label>
            {{form.value(
              type="number",
              step="0.01",
              placeholder="R$",
              class="appearance-none rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
              id="valor"
              )}}
          </div>

          <div class="mb-4 flex justify-left">
            {{ form.submit(class="bg-red-500 hover:bg-red-600 text-white font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline") }}

             <input
              type="reset" value="Cancelar"
              id="close_add"
              class="bg-gray-100 hover:bg-gray-200 text-red-500 font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline ml-3"
            >
          </div>
        </form>
      </div>
    </div>

    <script>
      //Abrir Formulario Cofrinho
      $("#form_add").hide();

        //Formulario de adicionar
        $("#open_add").click(function () {
          $("#form_add").fadeIn();
        });

        $("#close_add").click(function () {
          $("#form_add").fadeOut();
        });

        $('#novo_objetivo').hide();
        
        //Novo objetivo
        $('#objetivo').change(function() {
        // Verifica se o valor selecionado é "novo"
        if ($(this).val() === 'novo') {
          // Mostra a div "novo_objetivo"
          $('#novo_objetivo').show();
        } else {
          // Oculta a div "novo_objetivo"
          $('#novo_objetivo').hide();
        }
        });
    </script>
  </body>
</html>
