<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ficker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-manrope">
    <header class="bg-white h-16 flex items-center justify-between px-4">
      <a class="flex items-center" href="{{url_for('main.index')}}">
        <img class="mr-2" src="../static/assets/img/logo.svg" alt="logo" />
        <h1 class="text-2xl font-bold text-gray-800">Ficker</h1>
      </a>
      <div class="flex items-center">
        <div class="items-center justify-center mr-2">
          <img src="../static/assets/img/icons/icon-notificacao.svg" alt="" />
        </div>
        <div class="flex items-center">
          <p class="text-sm text-gray-800 font-semibold">{{user.nom_real}}</p>
        </div>
      </div>
    </header>

    <div class="sidebar bg-white w-64 h-screen fixed left-0 z-10">
      <ul class="mt-6">
        <li class="p-3 rounded-lg font-semibold bg-red-500">
          <a
            href="{{url_for('main.home')}}"
            class="flex items-center text-white px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-inicio-selected.svg"
              alt="logo"
            />
            Início
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.incomes')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-entradas.svg"
              alt="logo"
            />
            Entradas
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.expenses')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-saidas.svg"
              alt="logo"
            />
            Saídas
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.piggy')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-cofrinho.svg"
              alt="logo"
            />
            Cofrinho
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.analyzes')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-analises.svg"
              alt="logo"
            />
            Análises
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('main.profile')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-perfil.svg"
              alt="logo"
            />
            Meu Perfil
          </a>
        </li>
        <li class="p-3 rounded-lg hover:bg-gray-50 hover:font-semibold">
          <a
            href="{{url_for('auth.logout')}}"
            class="flex items-center text-gray-400 px-4"
          >
            <img
              class="mr-2"
              src="../static/assets/img/icons/icon-sair.svg"
              alt="icon-sair"
            />
            Sair
          </a>
        </li>
      </ul>
    </div>

    <main class="ml-64">
      <div class="flex flex-row justify-between p-6">
        <h1 class="text-xl font-semibold mb-4">Olá, {{user.nom_real}}!</h1>
      </div>

      <div class="flex flex-row justify-between mx-6">
        <div
          class="bg-white bg-opacity-75 flex justify-between items-center rounded rounded-lg h-22 w-52 px-4"
        >
          <div class="">
            <label for="saldo" class="block text-gray-400 mb-1 text-left text-sm">Saldo</label>
            <span id="saldo" class="font-semibold text-xl text-gray-700"> 
              {% set entrada_total = namespace(value=0) %}
              {% set saida_total = namespace(value=0) %}
              {% set cofrinho_total = namespace(value=0) %}

              {% for transacao in user.transacoes_entrada_u %}
                {% set entrada_total.value = entrada_total.value + transacao.val_entrada %}
              {% endfor %}

              {% for transacao in user.transacoes_saida_u %}
                {% set saida_total.value = saida_total.value + transacao.val_saida %}
              {% endfor %}

              {% for transacao in user.transacoes_cofrinho_u %}
                {% if transacao.tip_transacao == 'Guardar' %}
                  {% set cofrinho_total.value = cofrinho_total.value + transacao.val_cofrinho %}
                {% endif %}
              {% endfor %}
                
              {% set saldo = entrada_total.value - saida_total.value - cofrinho_total.value %}
              
              {% if saldo < 0 %}
                <p style="color: red;"> R$ {{ saldo }}</p>
              {% elif saldo > 0 %}
                <p style="color: green;"> R$ {{ saldo }}</p>
              {% else %}
                <p> R$ {{ saldo }}</p>
              {% endif %}


            </span>
          </div>
          <div class="ml-8 hover:bg-gray-100 rounded rounded-full p-1">
            <a id="ocultar_saldo">
              <img
                src="../static/assets/img/icons/icon-ocultar.svg"
                alt="icon-ocultar"
              />
            </a>
            <a id="mostrar_saldo" class="hidden">
              <img
                src="../static/assets/img/icons/icon-mostrar.svg"
                alt="icon-mostrar"
              />
            </a>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div
            class="bg-white bg-opacity-75 flex justify-between items-center rounded rounded-lg h-24 w-48 px-4 mr-6"
          >
            <div>
              <label
                for="orcamento_planejado"
                class="block text-gray-400 mb-1 text-left text-sm"
                >Orçamento Planejado</label
              >
              <span id="orcamento_planejado" class="font-semibold text-xl text-gray-700" >
                {% for orcamento in user.orcamentos_u %}
                  {% if orcamento.mes_orcamento == 'Junho' %}
                    R$ {{ orcamento.val_orcamento_previsto}}
                  {% endif %}
                {% endfor %}
              </span>
            </div>
            <div class="ml-8 hover:bg-gray-100 rounded rounded-full p-2">
              <a id="open_edit">
                <img
                  src="../static/assets/img/icons/icon-editar.svg"
                  alt="icon-ocultar"
                />
              </a>
            </div>
          </div>
          <div
            class="bg-white bg-opacity-75 flex justify-between items-center rounded rounded-lg h-24 w-48 px-4"
          >
            <div class="block">
              <label
                for="orcamento_real"
                class="block text-gray-400 mb-1 text-left text-sm"
                >Orçamento Real</label
              >
              <span id="orcamento_real" class="font-semibold text-xl text-gray-700" >               
                {% for orcamento in user.orcamentos_u %}
                {% if orcamento.mes_orcamento == 'Junho' %}
                  
                <p style="color: red;"> R$ -{{ orcamento.val_orcamento_real }}</p>
                {% endif %}
              {% endfor %}
              </span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white bg-opacity-75 rounded rounded-lg w-72 px-4 py-2 mt-16 ml-6">
        <div class="flex justify-between items-center w-full text-semibold mb-3">
          <h3 class="font-semibold">Cofrinho</h3>
          <div class="ml-8 hover:bg-gray-100 rounded rounded-full p-2">
            <a href="#" id="open_add">
              <img
                src="../static/assets/img/icons/icon-mais.svg"
                alt="icon-mais"
              />
            </a>
          </div>
        </div>
          {% for objetivo in user.piggies() %}
            <div class="flex justify-between items-center w-full text-semibold pb-2">
              <div class="flex items-center justify-center">
                <div class="w-3 h-3 rounded rounded-full mr-3" style="background-color: {{ objetivo.color|safe }};"></div>

                <p class="text-sm">{{ objetivo.name }}</p>
              </div>
              <div>
                <p class="text-gray-400 text-sm">R$ {{objetivo.value}}</p>
              </div>
              
            </div>
          {% endfor %}
        
        </div>
        </div>
      </div>
    </main>

    <div
      id="form_add"
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    >
      <div class="bg-white rounded rounded-lg p-4 w-1/3">
        <h2 class="text-lg font-semibold mb-6">Nova Transação no Cofrinho</h2>
        <form action="{{ url_for('main.piggy') }}" method="POST">
          {{ form.csrf_token }}

          <div class="mb-4 w-1/2">
            
            <label class="block text-gray-700 mb-1 text-left" for="objetivo">
              Objetivo
            </label>
            <select
              class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline"
              id="objetivo"
              name="selected_option"
            >
              <option disabled selected>Selecione</option>
              <option value="novo">Novo</option>
              {% for objetivo in user.objetivos_u %}
                    <option value="{{ objetivo.nom_objetivo }}">{{ objetivo.nom_objetivo }}</option>
                {% endfor %}
            </select>
          </div>

          <div id="novo_objetivo" class="mb-4 flex justify-between">
            <div class="w-3/4 mr-2">
              <label class="block text-gray-700 mb-1 text-left" for="descricao_objetivo">
                Descrição do Objetivo
              </label>
              {{form.description(
                type="text",
                class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
                id="descricao_objetivo"
              )}}
            </div>
            <div >
              <label
                class="block text-gray-700 mb-1 text-left"
                for="cor_objetivo"
              >
                Cor
              </label>
              {{form.color(
                type="color",
                class="appearance-none rounded h-12 w-full px-8 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
                id="cor_objetivo",
                value="#000000"
              )}}
            </div>
          </div>

          <div class="mb-4 w-1/2">
            <label class="block text-gray-700 mb-1 text-left" for="acao">
              Ação
            </label>
            <select
              class="rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline"
              name="action"
            >
              <option selected value="Guardar">Guardar</option>
              <option value="Resgatar">Resgatar</option>
            </select>
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 mb-1 text-left"
              for="data_transacao"
            >
              Data
            </label>
            {{form.date(
              type="date",
              class="appearance-none rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
              id="data_transacao"
              )}}
          </div>
          
          <div class="mb-4">
            <label class="block text-gray-700 mb-1 text-left" for="valor">
              Valor
            </label>
            {{form.value(
              type="number",
              step="0.01",
              placeholder="R$",
              class="appearance-none rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
              id="valor"
              )}}
          </div>

          <div class="mb-4 flex justify-left">
            {{ form.submit(class="bg-red-500 hover:bg-red-600 text-white font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline") }}

             <input
              type="reset" value="Cancelar"
              id="close_add"
              class="bg-gray-100 hover:bg-gray-200 text-red-500 font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline ml-3"
            >
          </div>
        </form>
      </div>
    </div>
    <div id="form_edit" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <div class="bg-white rounded rounded-lg p-4 w-1/3">
        <h2 class="text-lg font-semibold mb-6">Editar Orçamento Planejado</h2>
        <div class="mb-4">
          <label class="block text-gray-700 mb-1 text-left" for="descricao">
          <form method="POST" action="{{ url_for('main.home_edit_budget') }}">
            {{ form.csrf_token }}
            {{ form.idd(type="text", class = "hidden") }}
            
          <div class="mb-4">
            <label class="block text-gray-700 mb-1 text-left" for="valor">
              Valor
            </label>
            {{form.value (
              type="number",
              step="0.01",
              placeholder="R$",
              class="appearance-none rounded w-full py-3 px-3 bg-gray-100 text-gray-700 shadow-sm rounded-lg leading-tight focus:outline-none focus:shadow-outline",
              id="valor" )}}
          </div>

          <div class="mb-4 flex justify-between">
            <div class="flex justify-left">
              {{ form.submit(class="bg-red-500 hover:bg-red-600 text-white font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline") }}

              <input
              id="close_edit" 
              type="reset" value="Cancelar"
              class="bg-gray-100 hover:bg-gray-200 text-red-500 font-regular py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline ml-3"
            >
            </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      $(document).ready(function () {
        //Ocultar e mostrar saldo
        $("#ocultar_saldo").click(function () {
          $("#saldo").text("****");
          $("#ocultar_saldo").hide();
          $("#mostrar_saldo").show();
        });

        $("#mostrar_saldo").click(function () {
          
          saldo = "{{ saldo }}"

          if (saldo < 0) { $("#saldo").text("R$" + " " + saldo).css("color", "red"); }
          else if (saldo > 0) {$("#saldo").text("R$" + " " + saldo).css("color", "green"); }
          else{ $("#saldo").text("R$" + " " + saldo).css("color", "black"); }

          $("#ocultar_saldo").show();
          $("#mostrar_saldo").hide();
        });    

        //Editar Orçamento Planejado

        $("#form_edit").hide();

        $("#open_edit").click(function() {
          $("#form_edit").fadeIn();
        });
      
        $("#close_edit").click(function () {
          $("#form_edit").fadeOut();
        });
        // $("#edit_orcamento_planejado").click(function (e) {
        //   e.preventDefault();
        //   var valorAtual = $("#orcamento_planejado").html().trim();
        //   $("#orcamento_planejado").html(
        //     '<input type="number" step="0,01" id="input_orcamento_planejado" class="font-semibold text-xl text-gray-700 bg-white bg-opacity-0 w-36" value="' +
        //       valorAtual +
        //       '" />'
        //   );
        //   $("#input_orcamento_planejado").keypress(function (e) {
        //     if (e.which == 13) {
        //       var novoValor = $("#input_orcamento_planejado").val();
        //       $("#orcamento_planejado").html("R$" + novoValor);
        //     }
        //   });
        // });

        //Abrir Formulario Cofrinho
       $("#form_add").hide();

        //Formulario de adicionar
        $("#open_add").click(function () {
          $("#form_add").fadeIn();
        });

        $("#close_add").click(function () {
          $("#form_add").fadeOut();
        });

        $('#novo_objetivo').hide();
        
        //Novo objetivo
        $('#objetivo').change(function() {
        // Verifica se o valor selecionado é "novo"
        if ($(this).val() === 'novo') {
          // Mostra a div "novo_objetivo"
          $('#novo_objetivo').show();
        } else {
          // Oculta a div "novo_objetivo"
          $('#novo_objetivo').hide();
        }
        });

      });
    </script>
  </body>
</html>
